<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="stylesheet" href="https://volbil.github.io/entypo/entypo.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/js/transition.js"></script>
	<script src="/static/js/zoom.min.js"></script>

	<link href="/static/css/styles.css" rel="stylesheet">
	<link href="/static/css/zoom.css" rel="stylesheet">

	<script async src="https://getmirrorshades.com/agent.js" data-siteId="MA-K9VDG9-EFH"></script> 

	<title>{{ TITLE }} | Мій невеличкий блог :3</title>
	<meta name="description" content="{{ DESCRIPTION }}">
</head>